.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 238, 214);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 747px){
  .App {
     align-items: flex-start;
  }
}